extends ../layout

block content
  h1 Tasks

  ul
    each task in tasks
      li(data-task="#{task._id}")
        input(type='checkbox', checked=task.complete, name="complete", data-input="task-complete")
        = task.description
        form(action="/tasks/#{task._id}" method="POST")
          input(type="hidden" name="_method" value="delete")
          input(type='submit' value="Remove")

  h2 Add task

  form(action="/tasks" method="post")
    label Task description:
    br
    textarea(name="description")
    br
    input(type="submit" value="Add")