extends ../layout

block content
  div(ng-controller="TaskController")
    h1 Tasks

    ul
      li(ng-repeat="task in tasks")
        input(type='checkbox', name="complete", ng-model="task.complete", ng-change="taskComplete(task)")
        span {{task.description}}

        button(ng-click="remove(task)") Remove

    h2 Add task

    form(ng-submit="add()")
      label Task description:
      br
      textarea(name="description" ng-model="descriptionText")
      br
      input(type="submit" value="Add")